.TestText {
  color: #AE3EDC;
  text-align: center;
  background-color: powderblue;
  font-size: 45px;
  font-family: courier;
}

table, th, td {
  border: 1px solid black;
  background: lightcoral;
}
